:root {
  --primary-color:#F7F5F1;
  --overlay-color: #9D9691;
  --menu-speed: 0.5s;
  --clr-primary: #3A1E09;
  --clr-secondary: #D1CAC3;
  --clr-bg: #9D9691;
  --clr-btn-save: #2f660f;
  --clr-btn-update: #0f6662;
  --clr-btn-delete: #660f0f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mina", sans-serif, "Srisakdi", cursive;
  box-sizing: border-box;
  background-color: var(--primary-color);
  margin: auto;
  color: var(--clr-primary);
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* Hamburger Menu zone */
}
.menu-wrap .toggler {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 20;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
  /* Toggler animation */
  /* Rotate on hover when checked */
  /* Show the Menu */
}
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  bottom: 0;
}
.menu-wrap .toggler:checked + .hamburger > div:before, .menu-wrap .toggler .menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scaleX(1) scaleY(1);
  transition: all var(--menu-speed) ease-in-out;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 1rem;
  background: transparent;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Middle line */
}
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  bottom: -17%;
  height: 3px;
  left: 0%;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--menu-speed) ease-in;
}
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div .menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 0%;
  width: 40%;
  height: 3px;
  background: inherit;
}
.menu-wrap .menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay-color);
  box-shadow: 1px 1px 1px var(--overlay-color), 2px 2px 2px var(--overlay-color);
  border-radius: 0px 0px 5px 5px;
  z-index: 10;
  margin-right: auto;
  margin-left: 2.5%;
  margin-top: 114px;
  margin-bottom: auto;
  opacity: 0.9;
  width: 20rem;
  height: auto;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scaleX(0) scaleY(0);
  transform-origin: 0 0;
  transition: all var(--menu-speed) ease;
}
.menu-wrap .menu > div > div {
  z-index: 10;
  text-align: left;
  width: 100%;
  max-width: 90vw;
  max-height: 100vw;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  z-index: 10;
  list-style: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li:hover {
  background: var(--clr-primary);
}

body .header {
  padding-top: 2rem;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .header > div {
  max-width: 30%;
}
body .header h1 {
  max-width: 30%;
  font-family: "Mina";
  font-weight: 100;
  margin-left: max(65px, 15%);
  font-size: 4rem;
}
body .header h1 a {
  text-decoration: none;
  color: var(--clr-primary);
}
body .header .navbar {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
body .header .navbar li {
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  font-size: 20px;
  margin: 0px 10px auto;
  transition: 200ms ease-in-out;
}
body .header .navbar li:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
body .header .navbar li:active {
  box-shadow: 0px 0px 0px;
}
body .header .navbar li a {
  color: var(--clr-primary);
  text-decoration: none;
}
body .header .navbar li #cart_alert {
  color: var(--clr-primary);
  margin: auto;
  font-size: 0.9rem;
  height: 1.25rem;
  width: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: 1.8rem;
  right: 4rem;
}
body .underline {
  height: 1px;
  width: 95%;
  background-color: var(--clr-secondary);
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

body .hero {
  max-width: 1440px;
  margin: auto;
}
body .hero h2 {
  font-family: "Srisakdi";
  font-size: 3.5rem;
  font-weight: 500;
  width: auto;
}
body .hero .h2top {
  white-space: nowrap;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}
body .hero .h2bottom {
  white-space: nowrap;
  text-align: right;
  padding-right: 20%;
  padding-left: 20%;
}
body .hero p {
  margin-top: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body .hero .store_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
body .hero .store_button_container .store_button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 75px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 0 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 3px 3px 6px rgba(0, 0, 0, 0.15);
  transition: 300ms ease-in-out;
}
body .hero .store_button_container .store_button:hover {
  background-color: #663510;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3), 3px 3px 12px rgba(0, 0, 0, 0.15);
}
body .hero .store_button_container .store_button:active {
  box-shadow: 0px 0px 0px;
}
body article #our_collection {
  font-family: "Srisakdi";
  font-weight: 600;
  font-size: 3rem;
  text-decoration: underline;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
}
body article .store .cards {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body article .store .cards .card {
  text-align: center;
  text-decoration: none;
  color: var(--clr-primary);
  max-height: 265px;
  max-width: 400px;
  margin: 2.5rem;
  margin-top: 3rem;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 3px 3px 6px rgba(0, 0, 0, 0.15);
  transition: 250ms ease-in-out;
}
body article .store .cards .card:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), 6px 6px 12px rgba(0, 0, 0, 0.15);
}
body article .store .cards .card:active {
  box-shadow: 0px 0px 0px;
}
body article .store .cards .card h4 {
  font-size: 1.25rem;
}
body article .store .cards .card img {
  object-fit: cover;
  border-radius: 5px;
}
body article .store .cards .card p {
  text-align: center;
}
body article #our_history {
  width: auto;
  font-family: "Srisakdi";
  font-weight: 600;
  font-size: 3rem;
  text-decoration: underline;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
}
body article p {
  width: 95%;
  text-align: justify;
  margin-top: auto;
  padding-left: 1rem;
}
body footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer .underline_top, body footer .underline_bottom {
  height: 1px;
  width: 95%;
  background-color: var(--clr-secondary);
  margin: auto;
}
body footer .container_footer {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
body footer .container_footer .foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 33%;
  height: 100%;
}
body footer .container_footer .foot i {
  font-size: 2rem;
}
body footer .container_footer .foot .foot_description {
  max-width: 70%;
}
body footer .social_medias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}
body footer .social_medias p {
  font-size: 3rem;
  padding-top: 1rem;
}
body footer .social_medias .banner {
  margin-top: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body footer .social_medias .banner a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--clr-primary);
}
body footer .social_medias .banner i {
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
body footer .social_medias .banner i:hover {
  transform: scale(1.15);
  color: #663510;
}

body section .carousel > input[type=radio]:nth-child(5):checked ~ .carousel_next > label:nth-child(1), body section .carousel > input[type=radio]:nth-child(5):checked ~ .carousel_prev > label:nth-child(4), body section .carousel > input[type=radio]:nth-child(4):checked ~ .carousel_next > label:nth-child(5), body section .carousel > input[type=radio]:nth-child(4):checked ~ .carousel_prev > label:nth-child(3), body section .carousel > input[type=radio]:nth-child(3):checked ~ .carousel_next > label:nth-child(4), body section .carousel > input[type=radio]:nth-child(3):checked ~ .carousel_prev > label:nth-child(2), body section .carousel > input[type=radio]:nth-child(2):checked ~ .carousel_next > label:nth-child(3), body section .carousel > input[type=radio]:nth-child(2):checked ~ .carousel_prev > label:nth-child(1), body section .carousel > input[type=radio]:nth-child(1):checked ~ .carousel_next > label:nth-child(2), body section .carousel > input[type=radio]:nth-child(1):checked ~ .carousel_prev > label:nth-child(5) {
  opacity: 1 !important;
  z-index: 3;
}

.container {
  min-height: 600px;
  width: 90%;
  margin: auto;
}

body section .carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
body section .carousel > input[type=radio] {
  position: absolute;
  left: 0;
  display: none;
  top: 0;
}
body section .carousel > input[type=radio]:checked ~ .carousel_items .carousel_item,
body section .carousel > input[type=radio]:checked ~ .carousel_prev > label,
body section .carousel > input[type=radio]:checked ~ .carousel_next > label {
  opacity: 0;
}
body section .carousel > input[type=radio]:nth-child(1):checked ~ .carousel_items .carousel_item:nth-child(1) {
  opacity: 1;
}
body section .carousel > input[type=radio]:nth-child(1):checked ~ .carousel_nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
body section .carousel > input[type=radio]:nth-child(2):checked ~ .carousel_items .carousel_item:nth-child(2) {
  opacity: 1;
}
body section .carousel > input[type=radio]:nth-child(2):checked ~ .carousel_nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
body section .carousel > input[type=radio]:nth-child(3):checked ~ .carousel_items .carousel_item:nth-child(3) {
  opacity: 1;
}
body section .carousel > input[type=radio]:nth-child(3):checked ~ .carousel_nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
body section .carousel > input[type=radio]:nth-child(4):checked ~ .carousel_items .carousel_item:nth-child(4) {
  opacity: 1;
}
body section .carousel > input[type=radio]:nth-child(4):checked ~ .carousel_nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
body section .carousel > input[type=radio]:nth-child(5):checked ~ .carousel_items .carousel_item:nth-child(5) {
  opacity: 1;
}
body section .carousel > input[type=radio]:nth-child(5):checked ~ .carousel_nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
body section .carousel_items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}
body section .carousel_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
body section .carousel_item img {
  width: 100%;
  vertical-align: middle;
  object-fit: scale-down;
}
body section .carousel_prev > label, body section .carousel_next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
body section .carousel_prev > label:hover, body section .carousel_prev > label:focus, body section .carousel_next > label:hover, body section .carousel_next > label:focus {
  opacity: 0.5 !important;
}
body section .carousel_prev > label:before, body section .carousel_prev > label:after, body section .carousel_next > label:before, body section .carousel_next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
body section .carousel_prev > label:before, body section .carousel_next > label:before {
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
body section .carousel_prev > label {
  left: 2%;
}
body section .carousel_prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
body section .carousel_next > label {
  right: 2%;
}
body section .carousel_next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
body section .carousel_nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
body section .carousel_nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 660px) {
  body header .menu-wrap .toggler {
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }
  body header .menu-wrap .hamburger {
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
  }
  body header .menu-wrap .menu > div {
    margin-top: 177px;
    margin-left: 2%;
  }
  body header .header {
    padding: 0;
    margin: auto;
    height: auto;
    width: auto;
    flex-direction: column;
  }
  body header .header > div {
    display: none;
  }
  body header .header h1 {
    margin-left: -5rem;
    margin-right: 0;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  body header .header .navbar {
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
  }
  body header .header .navbar li #cart_alert {
    top: 6.5rem;
    right: 10rem;
  }
  body header .underline {
    margin-top: 1.5rem;
  }
  body section h2.h2cart {
    font-size: 2.5rem;
    text-decoration: underline;
  }
  body section h2.h2product {
    font-size: 2.5rem;
    text-decoration: underline;
  }
  body section div.products {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  body section div.products .product {
    max-width: 98%;
  }
  body section div.products .options {
    max-width: 98%;
  }
  body section div.products .options fieldset {
    width: 100%;
  }
  body section div.products .options fieldset .option {
    justify-content: space-between;
  }
  body section div.products .options fieldset .option .varnish {
    min-width: 40%;
    justify-content: flex-start;
  }
  body section div.products .options fieldset .option .varnish p {
    margin-right: 1rem;
  }
  body section div.products .options fieldset .option .qty {
    display: flex;
    min-width: 40%;
    justify-content: flex-end;
    right: 0;
  }
  body section div.products .options fieldset .option .qty label {
    margin-right: 1rem;
  }
  body section div.products .options fieldset .option .qty input {
    width: 30px;
  }
  body section div.products .options fieldset .option .validate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  body section div.products .options fieldset .option .tarif {
    width: 100%;
  }
  body section .hero {
    max-width: 600px;
  }
  body section .hero h2 {
    font-size: 2.5rem;
  }
  body section .hero .h2top {
    padding-left: 2%;
    padding-right: 0;
  }
  body section .hero .h2bottom {
    padding-right: 2%;
    padding-left: 0;
  }
  body section .hero p {
    margin: 1rem;
    padding: 0;
    width: auto;
  }
  body section .hero .container {
    min-height: 250px;
    max-height: 350px;
    height: 100%;
    width: 100%;
  }
  body section .hero .container .carousel {
    min-height: 250px;
    max-height: 350px;
    height: 100%;
    width: 100%;
  }
  body section .hero .container .carousel .carousel_nav {
    display: none;
  }
  body section .hero .container .carousel .carousel_nav > label {
    border: var(--clr-primary);
  }
  body section .carousel_prev > label {
    top: 37%;
  }
  body section .carousel_next > label {
    top: 37%;
  }
  body section div.cart_card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 98%;
    max-height: none;
  }
  body section div.cart_card .product_infos div.card_bottom {
    height: 80%;
  }
  body section div.cart_card .product_infos div.card_bottom div.cart_modifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  body section div.cart_card .product_infos div.card_bottom div.cart_modifications .product_numbers {
    margin-top: 1rem;
  }
  body section div.cart_card .product_infos div.card_bottom div.cart_modifications .product_numbers p {
    text-align: justify;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  body section div.cart_card .product_infos div.card_bottom div.cart_modifications .cart_buttons {
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
  body section div.cart_card .product_infos .underline {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  body div.forms {
    margin: 2rem 2rem 2rem 1rem;
  }
  body div.forms #inscription {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body div.forms #inscription p {
    width: 70%;
  }
  body div.forms #inscription p input {
    margin: 1rem 0;
  }
  body div.forms .shipment {
    min-width: 350px;
    width: 100%;
    max-width: 910px;
  }
  body div.forms .shipment p {
    width: 100%;
  }
  body div.forms .shipment p #firstname {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  body div.forms .shipment p #lastname {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  body div.forms .shipment p #address {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  body div.forms .shipment p #cp {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  body div.forms .shipment p #city {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  body div.forms .shipment p #email {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  body div.forms input.cart_save {
    position: inherit;
    margin-top: 2rem;
  }
  body article #our_collection {
    width: auto;
    font-size: 2.5rem;
    margin-top: 3.5rem;
  }
  body article .store .cards {
    width: auto;
    flex-direction: column;
  }
  body article .store .cards .card {
    max-width: 350px;
    max-height: 230px;
    margin: 2.5rem 0;
  }
  body article .store .cards .card img {
    width: 100%;
  }
  body article .history {
    width: auto;
    margin: 1rem;
    padding: 0;
  }
  body footer {
    height: auto;
  }
  body footer .container_footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  body footer .container_footer .foot {
    margin: 1rem 0;
    max-width: 98%;
    max-height: 33%;
  }
  body footer .social_medias p {
    font-size: 2.5rem;
  }
  body footer .social_medias .banner {
    width: 98%;
  }
}
body section .hero .h2validation {
  font-size: 2rem;
  text-align: center;
  padding: 0;
}

body section .h2product {
  font-family: "Srisakdi";
  font-size: 3.5rem;
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0;
}
body section .products {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
body section .products .product {
  max-width: 60%;
}
body section .products .product img {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
}
body section .products .options {
  padding: 10px;
  max-width: 40%;
  max-height: 100%;
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body section .products .options p {
  max-width: 90%;
}
body section .products .options fieldset {
  border: 0;
}
body section .products .options fieldset .option {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
body section .products .options fieldset .option .varnish {
  margin: 10px;
  margin-top: 2rem;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .products .options fieldset .option .qty {
  margin: 10px;
  margin-top: 2rem;
  min-width: 150px;
}
body section .products .options fieldset .option .tarif {
  margin: 10px;
  margin-top: 2rem;
  font-weight: 600;
  min-width: 150px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
body section .products .options fieldset .option .validate {
  min-width: 150px;
}
body section .products .options fieldset .option .validate #add_cart {
  height: 40px;
  width: 120px;
  margin: 10px;
  margin-top: 1rem;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--clr-primary);
  color: #fff;
  transition: 300ms ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.15);
}
body section .products .options fieldset .option .validate #add_cart:hover {
  background-color: #663510;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
body section .products .options fieldset .option .validate #add_cart:active {
  box-shadow: 0px 0px 0px;
}
body section .store_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
body section .store_button_container .store_button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 75px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 0px 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 3px 3px 6px rgba(0, 0, 0, 0.15);
  transition: 300ms ease-in-out;
}
body section .store_button_container .store_button:hover {
  background-color: #663510;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3), 3px 3px 12px rgba(0, 0, 0, 0.15);
}
body section .store_button_container .store_button:active {
  box-shadow: 0px 0px 0px;
}
body section .store_button_container .store_button i {
  padding-right: 1rem;
}

body section div.underline {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body section div.underline .cart_table .underline {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body section .h2cart {
  font-family: "Srisakdi";
  font-size: 3.5rem;
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0;
}
body section fieldset {
  border: 0;
}
body section .cart_card {
  display: flex;
  flex-direction: row;
  max-height: 250px;
  margin: 1rem 0;
}
body section .cart_card img {
  max-width: 40%;
  margin: 0px 10px;
  object-fit: contain;
}
body section .cart_card .product_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0rem 1rem;
}
body section .cart_card .product_infos .product_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body section .cart_card .product_infos .product_title h3 {
  font-size: 1.5rem;
}
body section .cart_card .product_infos .product_title p {
  margin-right: 5%;
}
body section .cart_card .product_infos .underline {
  margin: 0.3rem 0;
}
body section .cart_card .product_infos .card_bottom {
  align-items: stretch;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body section .cart_card .product_infos .card_bottom p {
  font-size: 0.9rem;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications input {
  width: 25px;
  height: 15px;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications .product_numbers {
  min-width: 300px;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications .product_numbers p {
  margin-right: 1.5rem;
  font-size: 1rem;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications .cart_buttons {
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
  margin-right: 1rem;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications .cart_buttons .cart_delete {
  margin-top: 1rem;
  width: 75px;
  height: 25px;
  border: none;
  background-color: var(--clr-btn-delete);
  font-family: "Mina";
  color: #fff;
  transition: 200ms ease-in-out;
}
body section .cart_card .product_infos .card_bottom div.cart_modifications .cart_buttons .cart_delete:hover {
  background-color: #921616;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
}
body section .cart_card .product_infos .card_bottom div.cart_modifications .cart_buttons .cart_delete:active {
  box-shadow: 0px 0px 0px;
}
body section .subtotal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2rem;
}
body section .subtotal .subtotal_area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  min-height: 100px;
  min-width: 250px;
}
body section .subtotal .subtotal_area h4 {
  font-size: 1rem;
  font-weight: 300;
}
body section .subtotal .underline {
  margin: 1rem;
}
body section .subtotal .cart_update {
  width: 75px;
  height: 25px;
  border: none;
  background-color: var(--clr-btn-update);
  font-family: "Mina";
  color: #fff;
  transition: 200ms ease-in-out;
}
body section .subtotal .cart_update:hover {
  background-color: #16928d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
}
body section .subtotal .cart_update:active {
  box-shadow: 0px 0px 0px;
}
body section .forms {
  min-height: 250px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
body section .forms .underline {
  margin: 1rem;
}
body section .forms #inscription p {
  width: 70%;
}
body section .forms .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}
body section .forms .shipment {
  max-width: 910px;
  justify-content: center;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}
body section .forms .shipment p {
  width: 50%;
}
body section .forms .shipment #firstname {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  width: 50%;
  max-width: 314px;
  margin: 0 0.5rem;
  padding-left: 0.2rem;
}
body section .forms .shipment #lastname {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  max-width: 258px;
  width: 40%;
  margin: 0 0.5rem;
  padding-left: 0.2rem;
}
body section .forms .shipment #address {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  max-width: 588px;
  width: 95%;
  margin: 0 0.5rem;
  padding-left: 0.2rem;
}
body section .forms .shipment #cp {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  max-width: 130px;
  width: 20%;
  margin: 0 0.5rem;
  padding-left: 0.2rem;
}
body section .forms .shipment #city {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  max-width: 440px;
  width: 70%;
  margin: 0 0.5rem;
  padding-left: 0.2rem;
}
body section .forms .shipment #email {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  max-width: 588px;
  width: 95%;
  margin: 0 0.5rem;
  padding-left: 0.2rem;
}
body section .forms .cart_save {
  position: absolute;
  right: 2rem;
  width: 95px;
  height: 32px;
  border: none;
  background-color: var(--clr-btn-save);
  font-family: "Mina";
  color: #fff;
  transition: 200ms ease-in-out;
}
body section .forms .cart_save:hover {
  background-color: #439216;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
}
body section .forms .cart_save:active {
  box-shadow: 0px 0px 0px;
}

@media screen and (min-width: 660px) and (max-width: 980px) {
  body section div.products .options fieldset .option {
    margin-top: auto;
    flex-direction: row;
  }
  body section div.products .options fieldset .option .varnish {
    min-width: 100px;
  }
  body section div.products .options fieldset .option .varnish p {
    margin-right: 10px;
  }
  body section div.products .options fieldset .option .qty {
    min-width: 100px;
  }
  body section div.products .options fieldset .option .validate {
    min-width: 100px;
  }
  body section div.products .options fieldset .option .tarif {
    min-width: 100px;
  }
  body section fieldset {
    max-width: 100%;
  }
  body section .cart_card {
    max-height: 250px;
    max-width: 98%;
  }
  body section .cart_card img {
    max-width: 40%;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 3rem;
    margin-top: 0px;
    margin-bottom: 1rem;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications .product_numbers {
    margin-top: 1rem;
    justify-items: flex-start;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications .product_numbers p {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications div.cart_buttons {
    margin: 0.5rem 0 0 0;
    min-width: 75px;
  }
  body section div.underline {
    margin-top: 4rem;
  }
  body section .forms #inscription p {
    width: 70%;
  }
  body section .forms .shipment {
    min-width: 625px;
    max-width: 910px;
  }
  body section .forms .cart_save {
    position: absolute;
    right: 2rem;
  }
}
@media screen and (min-width: 660px) and (max-width: 800px) {
  body section div.products .options fieldset .option {
    margin-top: auto;
    flex-direction: row;
  }
  body section div.products .options fieldset .option .varnish {
    min-width: 100px;
  }
  body section div.products .options fieldset .option .varnish p {
    margin-right: 10px;
  }
  body section div.products .options fieldset .option .qty {
    min-width: 100px;
  }
  body section div.products .options fieldset .option .validate {
    min-width: 100px;
  }
  body section div.products .options fieldset .option .tarif {
    min-width: 100px;
  }
  body section fieldset {
    max-width: 100%;
  }
  body section .cart_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    max-height: none;
    max-width: 98%;
  }
  body section .cart_card img {
    max-width: 40%;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 3rem;
    margin-top: 0px;
    margin-bottom: 1rem;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications .product_numbers {
    margin-top: 1rem;
    justify-items: flex-start;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications .product_numbers p {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  body section .cart_card .product_infos .card_bottom div.cart_modifications div.cart_buttons {
    margin: 0.5rem 0 0 0;
    min-width: 75px;
  }
  body section div.underline {
    margin-top: 4rem;
  }
  body section .forms #inscription p {
    width: 70%;
  }
  body section .forms .shipment {
    min-width: 625px;
    max-width: 910px;
  }
  body section .forms .cart_save {
    position: absolute;
    right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
