@media screen and (max-width: 660px) {
    body{
        & header{
            & .menu-wrap{
                & .toggler{
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                }
                & .hamburger{
                    top: 5px;
                    left: 5px;
                    width: 30px;
                    height: 30px;
                }
                & .menu{
                    & > div{
                        margin-top: 177px;
                        margin-left: 2%;
                    }
                }
            }
            & .header{
                padding: 0;
                margin: auto;
                height: auto;
                width: auto;
                flex-direction: column;
                & > div{
                    display: none;
                }
                & h1{
                    margin-left: -5rem;
                    margin-right: 0;
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                }
                & .navbar {
                    justify-content: space-around;
                    max-width: 100%;
                    width: 100%;
                    & li {
                        & #cart_alert {
                            top: 9%;
                            right: 46%;
                        }
                    }
                }
            }
            & .underline{
                margin-top: 1.5rem;
            }
        }
        & section {
            & h2{
                font-size: 2.5rem;
            }
            & .h2top{
                padding-left: 2%;
                padding-right: 0;
            }
            & .h2bottom{
                padding-right: 2%;
                padding-left: 0;
            }
            & p{
                margin: 1rem;
                padding: 0;
                width: auto;
            }
            & h2.h2cart{
                font-size: 2.5rem;
                text-decoration: underline;
            }
            & h2.h2product{
                font-size: 2.5rem;
                text-decoration: underline;
            }
            & div.products{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                & .product{
                    max-width: 98%;
                }
                & .options{
                    max-width: 98%;
                    fieldset{
                        width: 100%;
                        & .option{
                            justify-content: space-between;
                            & .varnish {
                                min-width: 40%;
                                justify-content: flex-start;
                                & p{
                                    margin-right: 1rem;
                                }
                            }
                            & .qty{
                                display: flex;
                                min-width: 40%;
                                justify-content: flex-end;
                                right: 0;
                                & label{
                                    margin-right: 1rem;
                                }
                                & input{
                                    width: 30px;
                                }
                            }
                            & .validate{
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                margin-top: 1.5rem;
                            }
                            & .tarif{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            & .hero{
                max-width: 600px;
                & .container{
                    min-height: 250px;
                    max-height: 350px;
                    height: 100%;
                    width: 100%;
                    & .carousel{
                        min-height: 250px;
                        max-height: 350px;
                        height: 100%;
                        width: 100%;
                        & .carousel_nav{
                            display: none;
                            & > label{
                                border: var(--clr-primary);
                            }                   
                        }
                    }
                }
            }
            & .carousel_prev > label {
                top: 37%;
            }
            & .carousel_next > label{
                top: 37%;
            }
            & div.cart_card{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                max-width: 98%;
                max-height: none;
                & .product_infos {
                    & div.card_bottom {
                        height: 80%;
                        div.cart_modifications {
                            display: flex;
                            flex-direction: row;  
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            min-height: 4rem;   
                            margin-top: 1rem;  
                            margin-bottom: 1rem;    
                            margin-left: 1rem;
                            & .product_numbers{
                                margin-top: 1rem;
                                & p{
                                    text-align: justify;
                                    display: flex;
                                    flex-direction: column;
                                    width: 30%;                            
                                }
                            }
                            & .cart_buttons{
                                margin-top: 1.5rem;
                                margin-right: 1rem;
                            }       
                        }
                    }
                    & .underline{
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        & div.forms{
            margin: 2rem 2rem 2rem 1rem;
            & #inscription{
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                & p{
                    width: 70%;
                    & input{
                    margin: 1rem 0;
                    }
                }
            }
            & .shipment{
                min-width: 350px;
                width: 100%;
                max-width: 910px;
                & p {
                    width: 100%;
                        & #firstname {
                            width: 100%;
                            max-width: 300px;
                            margin-top: 1rem;
                        }
                        & #lastname {
                            width: 100%;
                            max-width: 300px;
                            margin-top: 1rem;
                        }                  
                        & #address {
                            width: 100%;
                            max-width: 300px;
                            margin-top: 1rem;
                        }                   
                        & #cp {
                            width: 100%;
                            max-width: 300px;
                            margin-top: 1rem;
                        }                   
                        & #city {
                            width: 100%;
                            max-width: 300px;
                            margin-top: 1rem;
                        }                   
                        & #email {
                            width: 100%;
                            max-width: 300px;
                            margin-top: 1rem;
                        }
                    }
                }
            & input.cart_save{
                position: inherit;
                margin-top: 2rem;
            }
        }
        & article{
            & #our_collection{
                width: auto;
                font-size: 2.5rem;
                margin-top: 3.5rem;
            }
            & .store {
                .cards{
                    width: auto;
                    flex-direction: column;
                    & .card{
                        max-width: 350px;
                        max-height: 230px;
                        margin: 2.5rem 0;
                        & img{
                            width: 100%;
                        }
                    }
                }
            }
            & .history{
                width: auto;
                margin: 1rem;
                padding: 0;
            }
        }
        & footer{
            height: auto;
            & .container_footer{
                flex-wrap: wrap;
                justify-content: flex-start;
                & .foot{
                    margin: 1rem 0;
                    max-width: 98%;
                    max-height: 33%;
                }
            }
            & .social_medias{
                & p{
                    font-size: 2.5rem;
                }
                & .banner{
                    width: 98%;
                }
            }
        }
    }
}