body{
    & .header{
        padding-top: 2rem;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & > div{
            max-width: 30%;
        }
        & h1{
            max-width: 30%;
            font-family: 'Mina';
            font-weight: 100;
            margin-left: max(65px, 15%);
            font-size: 4rem;
            & a{
                text-decoration: none;
                color: var(--clr-primary);
            }
        }
        & .navbar {
            max-width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            & li{
                height: 30px;
                width: 30px;
                text-align: center;
                vertical-align: middle;
                border-radius: 5px;
                background-color: #fff;
                padding: 5px;
                font-size: 20px;
                margin: 0px 10px auto;
                transition: 200ms ease-in-out;
                &:hover{
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10),2px 2px 8px rgba(0, 0, 0, 0.15);;
                }
                &:active{
                    box-shadow: 0px 0px 0px;
                }
                & a{
                    color: var(--clr-primary);
                    text-decoration: none;
                }
                & #cart_alert{
                    color: var(--clr-primary);
                    margin: auto;
                    font-size: 0.9rem;
                    height: 1.25rem;
                    width: 1.2rem;
                    border-radius: 50%;
                    position: absolute;
                    top: 1.8rem;
                    right: 4rem;
                }   
            }
        }
    }
    & .underline{
        height: 1px;
        width: 95%;
        background-color: var(--clr-secondary);
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}