:root {
    --primary-color:#F7F5F1;
    --overlay-color: #9D9691;
    --menu-speed: 0.5s;
    --clr-primary: #3A1E09;
    --clr-secondary: #D1CAC3;
    --clr-bg: #9D9691;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mina', sans-serif, 'Srisakdi', cursive;
    box-sizing: border-box;
    background-color: var(--primary-color);
    margin: auto;
    color: var(--clr-primary);
}