body{
    & section {
        & div.underline{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        & div.underline .cart_table{
            & .underline{
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
        & .empty_button{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 2rem;
            & .cart_empty{
                margin-top: 1rem;
                width: 85px;
                height: 28px;
                border: none;
                background-color: #ce1c1c;
                font-family: 'Mina';
                color: #fff;
                transition: 200ms ease-in-out;
                &:hover{
                    background-color: lighten($color: #ce1c1c, $amount: 10%);
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                }
                &:active{
                    box-shadow: 0px 0px 0px;
                }
            }
        }
        & .h2cart{
            font-family: 'Srisakdi';
            font-size: 3.5rem;
            font-weight: 500;
            width: auto;
            text-align: center;
            padding: 0;
        }
        & fieldset{
            border: 0;
        }
        & .cart_card{
            display: flex;
            flex-direction: row;
            max-height: 250px;
            margin: 1rem 0;
            & img{
                max-width: 40%;
                margin: 0px 10px;
                object-fit: contain;
            }
            & .product_infos{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0rem 1rem;
                & .product_title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;    
                    & h3{
                        font-size: 1.5rem;
                    }
                    & p{
                        margin-right: 5%;
                    }
                }
                & .underline{
                    margin: 0.3rem 0;
                }
                & .card_bottom{
                    align-items: stretch;
                    height: 65%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    & p{
                        font-size: 0.9rem;
                    }
                    & div.cart_modifications{
                        display: flex;
                        flex-direction: row;  
                        flex-wrap: wrap;
                        align-items: flex-end;
                        justify-content: space-between;
                        & input{
                            width: 25px;
                            height: 15px;
                        }
                        & .product_numbers{
                            min-width: 300px;
                            align-items: flex-end;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            & p{
                                margin-right: 1.5rem;
                                font-size: 1rem;
                            }
                        }
                        & .cart_buttons{
                            display: flex;
                            justify-content: flex-end;
                            min-width: 200px;
                            margin-right: 1rem;
                            & .cart_delete{
                                margin-top: 1rem;
                                width: 75px;
                                height: 25px;
                                border: none;
                                background-color: var(--clr-btn-delete);
                                font-family: 'Mina';
                                color: #fff;
                                transition: 200ms ease-in-out;
                                &:hover{
                                    background-color: lighten($color: #660f0f, $amount: 10%);
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                                }
                                &:active{
                                    box-shadow: 0px 0px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .subtotal{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            & .subtotal_area{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-evenly;
                min-height: 100px ;
                min-width: 250px;
                & h4{
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
            & .underline{
                margin: 1rem;
            }
            & .cart_update{
                width: 95px;
                height: 32px;
                margin-top: 1rem;
                border: none;
                background-color: var(--clr-btn-update);
                font-family: 'Mina';
                color: #fff;
                transition: 200ms ease-in-out;
                &:hover{
                    background-color: lighten($color: #0f6662, $amount: 10%);
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                }
                &:active{
                    box-shadow: 0px 0px 0px;
                }
            }
        }
        & .forms{
            min-height: 250px;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            & .underline{
                margin: 1rem;
            }
            & #inscription{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & p{
                    width: 70%;
                }
            }
            & .intro {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0.5rem;
                & p{
                    text-align: center;
                }
            }
            & .shipment{
                max-width: 910px;
                justify-content: center;    
                min-height: 250px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-items: center;
                & p{
                    width: 50%;
                    text-align: center;
                }
                & #firstname {
                    vertical-align: middle;
                    border-radius: 5px;
                    border: none;
                    min-height: 35px;
                    width: 50%;
                    max-width: 314px;
                    margin: 0 0.5rem;
                    padding-left:0.2rem;
                }
                & #lastname {
                    vertical-align: middle;
                    border-radius: 5px;
                    border: none;
                    min-height: 35px;
                    max-width: 258px;
                    width: 40%;
                    margin: 0 0.5rem;
                    padding-left:0.2rem;
                }                  
                & #address {
                    vertical-align: middle;
                    border-radius: 5px;
                    border: none;
                    min-height: 35px;
                    max-width: 588px;
                    width: 95%;
                    margin: 0 0.5rem;
                    padding-left:0.2rem;
                }                   
                & #cp {
                    vertical-align: middle;
                    border-radius: 5px;
                    border: none;
                    min-height: 35px;
                    max-width: 130px;
                    width: 20%;
                    margin: 0 0.5rem;
                    padding-left:0.2rem;
                }                   
                & #city {
                    vertical-align: middle;
                    border-radius: 5px;
                    border: none;
                    min-height: 35px;
                    max-width: 440px;
                    width: 70%;
                    margin: 0 0.5rem;
                    padding-left:0.2rem;
                }                   
                & #email {
                    vertical-align: middle;
                    border-radius: 5px;
                    border: none;
                    min-height: 35px;
                    max-width: 588px;
                    width: 95%;
                    margin: 0 0.5rem;
                    padding-left:0.2rem;
                }
            }
            & .cart_save{
                margin-top: 2rem;
                width: 95px;
                height: 32px;
                border: none;
                background-color: var(--clr-btn-save); 
                font-family: 'Mina';
                color: #fff;
                transition: 200ms ease-in-out;
                &:hover{
                    background-color: lighten($color: #2f660f, $amount: 10%);
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                }
                &:active{
                    box-shadow: 0px 0px 0px;
                }                               
            }    

        }
    }
}