body{
    & section {
        & div.underline{
            margin-bottom: 2rem;
        }
        & div.underline .cart_table .underline{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        & .h2cart{
            font-family: 'Srisakdi';
            font-size: 3.5rem;
            font-weight: 500;
            width: auto;
            white-space: wrap;
            text-align: center;
            padding: 0;
        }
        & fieldset{
            border: 0;
        }
        & .cart_card{
            display: flex;
            flex-direction: row;
            max-height: 150px;
            & img{
                max-width: 40%;
                margin: 0px 10px;
                object-fit: contain;
            }
            & .product_infos{
                flex-direction: column;
                margin: 0rem 1rem;
                & .product_title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;    
                    & h3{
                        font-size: 1.5rem;
                    }
                    & p{
                        margin-right: 5%;
                    }
                }
                & .underline{
                    margin: 0.3rem 0;
                }
                & .card_bottom{
                    align-items: stretch;
                    height: 65%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    & p{
                        font-size: 0.9rem;
                    }
                    & .cart_modifications{
                        display: flex;
                        justify-content: space-between;
                        & input{
                            width: 25px;
                            height: 15px;
                        }
                        & .product_numbers{
                            align-items: flex-end;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            & p{
                                margin-left: 1.5rem;
                                font-size: 1rem;
                            }
                        }
                        & .cart_buttons{
                            display: flex;
                            justify-content: space-around;
                            min-width: 250px;
                            & .cart_save{
                                width: 75px;
                                height: 25px;
                                border: none;
                                background-color: var(--clr-btn-save); 
                                font-family: 'Mina';
                                color: #fff;
                                transition: 200ms ease-in-out;
                                &:hover{
                                    background-color: lighten($color: #2f660f, $amount: 10%);
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                                }
                                &:active{
                                    box-shadow: 0px 0px 0px;
                                }                               
                            }
                            & .cart_update{
                                width: 75px;
                                height: 25px;
                                border: none;
                                background-color: var(--clr-btn-update);
                                font-family: 'Mina';
                                color: #fff;
                                transition: 200ms ease-in-out;
                                &:hover{
                                    background-color: lighten($color: #0f6662, $amount: 10%);
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                                }
                                &:active{
                                    box-shadow: 0px 0px 0px;
                                }
                            }
                            & .cart_delete{
                                width: 75px;
                                height: 25px;
                                border: none;
                                background-color: var(--clr-btn-delete);
                                font-family: 'Mina';
                                color: #fff;
                                transition: 200ms ease-in-out;
                                &:hover{
                                    background-color: lighten($color: #660f0f, $amount: 10%);
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.3);
                                }
                                &:active{
                                    box-shadow: 0px 0px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .subtotal{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 2rem;
            & .subtotal_area{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-evenly;
                min-height: 100px ;
                min-width: 250px;
                & h4{
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
            & .underline{
                margin: 1rem 0;
            }
        }
    }
}