body{
    & section{
        & .hero{
            & .h2validation{
                font-size: 2rem;
                text-align: center;
                padding: 0;
            }        
        }
    }
}